*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 56%;
}

/* NAVBAR */

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 2px solid rgb(199, 199, 199);
    border-radius:0px 0px 20px 20px ;
    box-shadow: 0px 15px 32px -13px rgba(0,0,0,0.4);

}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: normal;
    }

.navbar img {
    width: 60px;
    height: 70px;
    }

.nav {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.nav :hover{
    border-bottom: 2px solid red;
}

#about{
    border-bottom: 2px solid red;
}

/* Profile */
.upper {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#dp {
    width: 30em;
    height: 33em;
}


#dhanush{
    width: 25em;
    height: 5em;
}

.aboutme {
    padding:5%;
}

.aboutme p {
    font-size: 30px;
    font-weight: 500;
}

#hi ,#i {
    font-size: 60px;
    font-weight: bolder;
}

#instagram , #behance , #linkedin{
    width: 100px;
    height: 100px;
}

.aboutme :hover{
    transition-property: transform;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    transition-delay: 1ms;
    transform: translateX(0.5em);
}

/* FOOTER */  

.footer {
    height: 50px;
    font-size: 15px;
    background-color: white;
    border-top: 2px solid rgb(199, 199, 199);
    border-radius:20px 20px 0px 0px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 20px;
    box-shadow: 0px -15px 32px -13px rgba(0,0,0,0.4);
}
.footer a{
    text-decoration:none;
    color: grey;
    font-weight: bold;
}

.footer p {
    color: grey;
}

/* Responsive Samsung Galaxy Fold (280x653) */

@media screen and (min-width: 280px){
/* navbar */
    .navmid{
        order: 1;
    }

    .navleft {
        order: 2;
    }
    
    .navright{
        order:3;
    }
/* profile */
    .upper {
        padding: 5% 5% 0% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    
    #dp {
        width: 15em;
        height: 17em;
    }
    
    
    #dhanush{
        width: 10em;
        height: 2em;
    }
    
    .aboutme {
        padding:5%;
    }
    
    .aboutme p {
        font-size: 15px;
    }
    
    #hi ,#i {
        font-size: 30px;
    }
    
    #instagram , #behance , #linkedin{
        width: 70px;
        height: 70px;
    }
}


/* Responsive Samsung Galaxy S8+(360x740) */

@media screen and (min-width: 360px){
/* navbar */
    .navmid{
        order: 1;
    }

    .navleft {
        order: 2;
    }
    
    .navright{
        order:3;
    }

/* profile */
.upper {
    padding: 5% 5% 0% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#dp {
    width: 20em;
    height: 22.5em;
}


#dhanush{
    width: 15em;
    height: 3em;
}

.aboutme {
    padding:5%;
}

.aboutme p {
    font-size: 18px;
}

#hi ,#i {
    font-size: 40px;
}

#instagram , #behance , #linkedin{
    width: 90px;
    height: 90px;
}

}

/* Responsive Iphone XR (414x896) */
@media screen and (min-width: 414px){
/* navbar */
    .navmid{
        order: 1;
    }

    .navleft {
        order: 2;
    }
    
    .navright{
        order:3;
    }

/* profile */
.upper {
    padding: 5% 5% 0% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#dp {
    width: 20em;
    height: 22.5em;
}


#dhanush{
    width: 20em;
    height: 4em;
}

.aboutme {
    padding:5%;
}

.aboutme p {
    font-size: 20px;
}

#hi ,#i {
    font-size: 45px;
}

#instagram , #behance , #linkedin{
    width: 90px;
    height: 90px;
}

}

/*Responsive Surface Duo (540x720)*/

@media screen and (min-width: 540px){

    .nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 180px;
        height: 0px;
    }
    .navbar a{
        font-size: 15px;
    }
    .navbar img{
        height: 50px;
        width: 40px;
    }

    .navmid{
        order: 2;
    }

    .navleft {
        order: 1;
    }
    
    .navright{
        order:3;
    }
}

/* Responsive blackberry playbook (600x1024) */
@media screen and (min-width: 600px){
    /* navbar */
        .navmid{
            order: 1;
        }
    
        .navleft {
            order: 2;
        }
        
        .navright{
            order:3;
        }
    
    /* profile */
    .upper {
        padding: 5% 5% 0% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    
    #dp {
        width: 25em;
        height: 27.5em;
    }
    
    
    #dhanush{
        width: 25em;
        height: 5em;
    }
    
    .aboutme {
        padding:5%;
    }
    
    .aboutme p {
        font-size: 30px;
    }
    
    #hi ,#i {
        font-size: 50px;
    }
    
    #instagram , #behance , #linkedin{
        width: 90px;
        height: 90px;
    }
    
    }

/*Responsive Galaxy Tab S4 (712x1138)*/

@media screen and (min-width: 712px){

    .nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 280px;
        height: 0px;
    }
    .navbar a{
        font-size: 20px;
    }
    .navbar img{
        height: 100px;
        width: 80px;
    }

    .navmid{
        order: 2;
    }

    .navleft {
        order: 1;
    }
    
    .navright{
        order:3;
    }
}

/*Responsive iPad MINI (768x1024)*/

@media screen and (min-width: 768px){

    .nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 280px;
        height: 0px;
    }
    .navbar a{
        font-size: 20px;
    }
    .navbar img{
        height: 100px;
        width: 80px;
    }

    .navmid{
        order: 2;
    }

    .navleft {
        order: 1;
    }
    
    .navright{
        order:3;
    }
}



/*Responsive iPad Air (820x1180)*/

@media screen and (min-width: 820px){

    /* navbar */
    .nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 280px;
        height: 0px;
    }
    .navbar a{
        font-size: 22px;
    }
    .navbar img{
        height: 100px;
        width: 80px;
    }

    .navmid{
        order: 2;
    }

    .navleft {
        order: 1;
    }
    
    .navright{
        order:3;
    }

    /* profile */
    #hi ,#i {
        font-size: 60px;
    }
/* footer */
    .footer{
        font-size: 20px;
    }
}


/*Responsive Surface Pro 7 (912x1368)*/

@media screen and (min-width: 912px){

    /* navbar */
    .nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 350px;
        height: 0px;
    }
    .navbar a{
        font-size: 28px;
    }
    .navbar img{
        height: 100px;
        width: 80px;
    }

    .navmid{
        order: 2;
    }

    .navleft {
        order: 1;
    }
    
    .navright{
        order:3;
    }

    /* profile */
    .upper {
        padding: 5% 5% 0% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    
    #dp {
        width: 30em;
        height: 32.5em;
    }
    
    
    #dhanush{
        width: 30em;
        height: 6em;
    }
    
    .aboutme {
        padding:5%;
    }
    
    .aboutme p {
        font-size: 40px;
    }
    
    #hi ,#i {
        font-size: 70px;
    }
    
    #instagram , #behance , #linkedin{
        width: 100px;
        height: 100px;
    }

/* footer */
    .footer{
        padding: 30px;
        font-size: 30px;
    }
}

/*Responsive Nest Hub (1024x600)*/

@media screen and (min-width: 1024px){
/* navbar */
    .nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 350px;
        height: 0px;
    }
    .navbar a{
        font-size: 25px;
    }
    .navbar img{
        height: 100px;
        width: 80px;
    }

    .navmid{
        order: 2;
    }

    .navleft {
        order: 1;
    }
    
    .navright{
        order:3;
    }
 /* profile */
    .upper{
        padding: 0% 5%;
        flex-wrap: nowrap;
        }   

        .aboutme p {
            font-size: 30px;
        }

     #instagram , #behance , #linkedin{
        width: 120px;
        height: 120px;
    }

/* footer */
    .footer{
        padding: 20px;
        font-size: 20px;
    }
}

/*Responsive Nest Hub (1280x800)*/

@media screen and (min-width: 1280px){

    .nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 350px;
        height: 0px;
    }
    .navbar a{
        font-size: 25px;
    }
    .navbar img{
        height: 100px;
        width: 80px;
    }

    .navmid{
        order: 2;
    }

    .navleft {
        order: 1;
    }
    
    .navright{
        order:3;
    }

    .footer{
        padding: 20px;
        font-size: 20px;
    }
}


/*Responsive Max intial size (2160x1080)*/

@media screen and (min-width: 2160px){
/* navbar */
    .nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 550px;
        height: 0px;
    }
    .navbar a{
        font-size: 35px;
    }
    .navbar img{
        height: 100px;
        width: 80px;
    }

    .navmid{
        order: 2;
    }

    .navleft {
        order: 1;
    }
    
    .navright{
        order:3;
    }

    /* profile */
    .upper {
        padding: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    
    #dp {
        width: 40em;
        height: 42.5em;
    }
    
    
    #dhanush{
        width: 40em;
        height: 8em;
    }
    
    .aboutme {
        padding:5%;
    }
    
    .aboutme p {
        font-size: 40px;
    }
    
    #hi ,#i {
        font-size: 100px;
    }
    
    #instagram , #behance , #linkedin{
        width: 150px;
        height: 150px;
    }

/* footer */
    .footer{
        padding: 20px;
        font-size: 20px;
    }
}